<div class="dashboard-container">
    <mat-card class="dashboard-card" routerLink="/words" routerLinkActive="active">
        <mat-card-header>
            <mat-card-title>Wörterdatenbank</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Hier kannst du deine Vokabeln verwalten.
        </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card" routerLink="/learning" routerLinkActive="active">
        <mat-card-header>
            <mat-card-title>Lernen</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Hier kannst du neue Wörter lernen.
        </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card" routerLink="/repetition" routerLinkActive="active">
        <mat-card-header>
            <mat-card-title>Wiederholen</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Hier kannst du deine gelernten Wörter wiederholen.
        </mat-card-content>
    </mat-card>
</div>